/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pengaturan dasar untuk body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bce784;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

h1 {
    text-align: center;
}

/* Header dan Navigasi */
header {
    background-color: #5fd39f;
    color: #503a55;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

nav ul li a {
    color: #503a55;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.active {
    background-color: #535275;
    color: #bce784;
    /* // create font to underline style */
    font-style: oblique;
}

nav ul li a:hover {
    border-radius: 15px;
    background-color: #535275;
    color: #5fd39f;
}

/* Main Content */
main {
    padding: 20px;
}

.mainsection-kontainer,
section {
    background-color: #348ba8;
    border-radius: 30px;
    padding: 1em;
    width: 70em;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #5fd39f;
    color: #503a55;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.navbar-kontainer {
    display: flex;
    flex-direction: column;
}

.navbar-kontainer tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    text-align: justify;
}

hr {
    border-color: hsl(289, 19%, 28%);
}